h1{
    margin : 0px;
    
}

h5{
    display:none;
    margin : 0px;
    margin-top: 50px;
}
.main{
    font-size : 100px;
    padding: 33% 33%;
    text-align : center;
    margin : 0px;
    display:inline;
}

body{
    overflow-y : hidden;
    overflow-x : hidden;

}
input{
    text-align:center;
    font-size: 30px;
    padding : 15px 32px;
    display:inline-block;
    margin: 0px auto;
}