body{
  background-color: #ecf0f1;
}
/*
.bgimg {
  border: 0;
  padding: 0;
  background-image: url('image.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
*/
.btn{
  cursor : pointer;
}

.clicked{
  color: #7f8c8d;
}

.form,
.greetings {
  display:none;
}

.showing{
  display:block;
}
